# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

cmd/resourceful/resourceful
*.exe
*.test
*.prof

# Generated syso files
*.syso

# Policy files
*.pol

# Bolt database files
*.bolt
*.boltdb
*.lock

* Log files
*.log
