html {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

section {
	margin: 40px;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: none;
}

section#leases table {
	width: 100%;
	min-width: 720px;
}

section#leases thead th:nth-child(1) {
	width: 20%;
}

section#leases thead th:nth-child(2) {
	width: 20%;
}

section#leases thead th:nth-child(3) {
	width: 15%;
}

section#leases thead th:nth-child(4) {
	width: 10%;
}

section#leases thead th:nth-child(5) {
	width: 15%;
}

section#leases tbody td:nth-child(5):first-letter {
    text-transform:capitalize;
}

section#leases thead th:nth-child(6) {
	width: 10%;
}

section#leases thead th:nth-child(7) {
	width: 10%;
}

th, td {
	padding: 20px;
}

th {
	border-bottom: solid 3px black;
}

td {
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
}

